.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.game-attribute {
  float: left;
  display: inline;
  width: 49%;
}



.add-product-form {
  font-size: 15px;
  font-family: 'Yantramanav', sans-serif;
  padding: 0px;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 15px;
}


.add-product-sign {
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  height: 60px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  background-color: lightblue;
  border-radius: 4px;
  font-weight: 700;
  margin-bottom: 50px;

}

div.games-collections-title {
  text-align: center;
  margin-top: 50px;
  color: #4C4480;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


input:focus, select {
  background-color: rgb(126, 182, 240);
  width: 5%;
  padding: 8px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: white;
  weight: 700;
  font-size: 15px;
  /* box-sizing: border-box; */
}

label {
  padding: 5px;
}
